html {
    box-sizing: border-box;
}

.head {
    background-color: gray;
    color: aqua;
    text-align: center;
    font-family: Garamond, Georgia, serif;
     
}

.first {
    font-size: 38px;
    font-weight: 900;
    height: 50px;
    width: auto;
    padding: 35px;
    border: 5px solid black;
    margin: 40px;

}

.second{
    font-size: 28px;
    font-weight: 700;
    width: 170px;
    padding: 10px;
    border: 3px solid black;
    margin: 20px;
}

p, ul, ol {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(190, 6, 6);
    width: auto;
    text-align: justify;
    margin: 10px;
}

.third {
    font-size: 24px;
    color: aqua;
    font-weight: 700;
}

img {
    margin: 40px;
}